@charset "UTF-8";



/* Em Html id é com # e só pode usar uma fez numa só tag
   Em html div é com .  e pode mais de uma vez e pode adicionar mais de uma class nela */  


body{
    background-color: rgb(253, 253, 253);
    font-family: Arial, Helvetica, sans-serif;
}

#principal{ 
    color: aliceblue;
    text-align: center;
    background-color: rgb(255, 0, 0);
}
.basico{ 
    font-weight: bold;
    color: rgb(85, 2, 2);
}
h1{
    color: aliceblue;
    text-align: center;
    background-color: rgb(255, 0, 0);
}
.medio{ 
    color: rgb(214, 57, 36);
}
.avancado{ 
    color: rgb(151, 5, 5);
    
}
